<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="roomMapper">

	<resultMap type="Room" id="roomResult">
		<result column="room_id" property="roomId" />
		<result column="room_name" property="roomName" />
		<result column="room_pwd" property="roomPwd" />
		<result column="language" property="language" />
	</resultMap>

	<insert id="insertRoom" parameterType="Room">
			     
		<selectKey keyProperty="roomId" resultType="String" order="AFTER">
	    	SELECT concat('forum-', seq_rno.currval) FROM DUAL
	    </selectKey>
	    
		insert 
		  into room
		     (
		       room_id
		     , room_name
		     , room_pwd
		     , language
		     )
		values
		     (
		       concat('forum-', seq_rno.nextval)
		     , #{roomName}
		     , #{roomPwd}
		     , #{language}
		     )

	</insert>

	<select id="getRoomById" resultMap="roomResult">
		select 
		       room_id
		     , room_name
		     , room_pwd
		     , language
		  from room
		 where room_id = #{roomId}
	</select>




</mapper>